/* 폰트 초기화 */
body, input, textarea, select, button, table, a {
    font-family: 'Nanum Gothic','맑은 고딕',dotum,'돋움',sans-serif; font-style: 13px; line-height: 1.5;
}

/* 폰트 */
a {font-family: 'Lora', serif;}
h1, h2, h3 {font-family: 'Nanum Brush Script', cursive;}
p, li, button {font-family: 'Do Hyeon', sans-serif;}

* {margin: 0; padding: 0;}
body {background-color: rgb(255,255,255);}
#wrap { width: 1000px; height: 900px; margin:0 auto; color:rgb(0,0,0); text-align: center;} 
#header {width: 1000px; height: 100px; }
#nav {width: 1000px; height: 100px;}
#side {float: left; width: 300px; height: 600px; }
#content1 {float: left; width: 700px; height: 300px;}
#content2 {float: left; width: 700px; height: 300px;}
#footer {width: 1000px; height: 100px; }
#middle{overflow: hidden;}

/* 메뉴바 */
.menu {margin-top: 50px;}
.menu ul li {float: left; list-style: none; margin: 0; padding: 0; width: 200px; border-top: 1px solid rgb(233,236,238); border-bottom: 1px solid rgb(233,236,238); padding: 10px 0 10px 0; }
.menu ul li a {text-decoration: none; padding: 8px 16px; color: rgb(82,62,63);}
.dropdown a{color: black; background-color: white; border: 0px;} 
.menu ul #drop{padding: 1px 0 4px 0;}

/* 타이틀 */
.title h1 {font-size: 50px; color: rgb(82,62,63);} 


/* 사이드 */
.dropdown-content ul {list-style-type: none; margin: 0; padding: 0; width: 200px; }
.dropdown-content ul li a {text-decoration: none; display: block; padding: 8px 16px; text-align: center; color: white; } 
.dropdown-content ul li a:hover {background-color: powderblue;}
.dropdown-content ul a {font-family: 'Do Hyeon', sans-serif;}


/* 버튼 */


.dropbtn {
    background-color: white;
    color: rgb(82,62,63);
    padding: 16px 40px 16px 40px;
    font-size: 16px;
    margin-right: 40px;
    border: 1px solid white;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #a6dcef
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

  /*study.html - content1 */
  
  .study h2 { font-size: 40px; color: black;} 
  .study h3 { font-size: 30px;}
  .study p {color: black;}

  /* stuudy.html - content2 */ 
  /* 절대 좌표 활용 */
 .content2_bar {width: 700px; height: 300px; overflow: hidden; position: relative;}
 .bar {position: absolute; width: 100px; height: 100px;}
 .content2_bar img {width: 200px; height: 60px;}
 .html {left: 100px; top: 30px; }
 .css {left: 100px; bottom: 130px; }
 .javascript {left: 100px; bottom: 50px; }

 /* footer */
 #footer p {margin-top: 25px; font-size: 15px; font-family: 'Noto Sans KR', sans-serif; color: black;}


 /* music.html - content2 */
 #content2 li {margin-top: 20px; color: rgb(3,80,159);}
 #content2 h2 {color: black;}
 .music_img img {width: 300px; height: 280px; margin-top: 10px;}
 

 /* index.html - content2 */
 /* 절대 좌표 활용 */
 .todo_icon {width: 700px; height: 200px; position: relative; overflow: hidden;} 
 .todo img {width: 300px; height: 600px;}
 .act div {position: absolute;}
 .study {left: 100px; top: 20px; }
 .eat{right: 100px; top: 20px; }
 .travel {right: 100px; bottom: 1px;}
 .exercise {left: 100px; bottom: 1px;}
 .act img {width: 200px; height: 100px; margin-top: 10px; padding: 8px 16px; }
 

 /* index.html - side */
 .js-clock h1{color: black; font-family: clock; margin-top: 20px;}
 #side .todo img {height: 500px;}

 /* progress bar */
  div.meter {
    position: relative;
    width: 250px;
    height: 25px;
    border: 1px solid #b0b0b0;
    margin-top: 50px;
    /* viewing purposes */
    margin-left: 400px;
    /* viewing purposes */
    -webkit-box-shadow: inset 0 3px 5px 0 #d3d0d0;
    -moz-box-shadow: inset 0 3px 5px 0 #d3d0d0;
    box-shadow: inset 0 3px 5px 0 #d3d0d0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
  }
  div.meter span {
    display: block;
    height: 100%;
    animation: grower 1s linear;
    -moz-animation: grower 1s linear;
    -webkit-animation: grower 1s linear;
    -o-animation: grower 1s linear;
    position: relative;
    top: -1px;
    left: -1px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid #3c84ad;
    background: #6eb2d1;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-background-size: 45px 45px;
    -moz-background-size: 45px 45px;
    -o-background-size: 45px 45px;
    background-size: 45px 45px;
  }
  div.meter span:before {
    content: '';
    display: block;
    width: 100%;
    height: 50%;
    position: relative;
    top: 50%;
    background: rgba(0, 0, 0, 0.03);
  }
  div.meter p {
  
    position: absolute;
    top: 0;
    margin: 0 10px;
    line-height: 25px;
    font-family: 'Helvetica';
    font-weight: bold;
    -webkit-font-smoothing: antialised;
    font-size: 15px;
    color: #333;
    text-shadow: 0 1px rgba(255, 255, 255, 0.6);
  }
  
  @keyframes grower {
    0% {
      width: 0%;
    }
  }
  
  @-moz-keyframes grower {
    0% {
      width: 0%;
    }
  }
  
  @-webkit-keyframes grower {
    0% {
      width: 0%;
    }
  }
  
  @-o-keyframes grower {
    0% {
      width: 0%;
    }
  }

  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);	

  html {
    border-top: 5px solid #fff;
    color: #2a2a2a;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
  }
  
  h1 {
    color: #fff;
    text-align: center;
    font-weight: 300;
  }
  
  #slider {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    border-radius: 4px;
  }
  
  #slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
  }
  
  #slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 500px;
    height: 300px;
    background: #ccc;
    text-align: center;
    line-height: 300px;
  }
  
  a.control_prev, a.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
  }
  
  a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
  }
  
  a.control_prev {
    border-radius: 0 2px 2px 0;
  }
  
  a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
  }
  
  .slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
  }
  